<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Cast:</b>
  <ul>
    <% @movie.roles.each do |role| %>
      <li>
        <%= role.character_name %>
        (<%= link_to role.actor.name, role.actor %>)


        <a href="http://localhost:3000/actors/<%= role.actor.id %>"><%= role.actor.name %></a>
        <%= link_to role.actor.name, "http://localhost:3000/actors/#{role.actor.id}" %>
        <%= link_to role.actor.name, actor_url(role.actor.id) %>
        <%= link_to role.actor.name, actor_url(role.actor) %>
        <%= link_to role.actor.name, role.actor %>









      </li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
