<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>
<p>Filmography:</p>

<% @director.movies.each do |movie| %>
  <p><%= movie.title %> (<%= movie.year %>)</p>
<% end %>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
